<main class="page_courses">
  <div class="_title">
    Курсы
  </div>
  <div class="_content">
    <div class="courses">
      <div class="course collaps_block _active_">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Введение в закупки <span>-</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single.htm">
                Промо курса
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single.htm">
                Роль системы закупок в производственной деятельности предприятия
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single.htm">
                Основные понятия закупочной деятельности
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single.htm">
                Ключевые цели в закупках
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single.htm">
                Основные элементы системы закупок и снабжения
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Планирование закупок <span>+</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single2.htm">
                Планирование закупок, классификация и методы
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single2.htm">
                Сущность планирования и виды планов
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single2.htm">
                Этапы и процессы планирования закупок
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Подготовка к проведению закупочных процедур <span>+</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                Подготовка к проведению закупочных процедур
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                Анализ рынка
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                Категорийная стратегия
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                Техническое задание
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                Критерии и методика оценки
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                РНМЦ Часть 1
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                РНМЦ Часть 2
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Проведение закупок <span>+</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single4.htm">
                Сущность закупок
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single4.htm">
                Способы закупок
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single4.htm">
                Порядок проведения закупки
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Аналитика и отчётность <span>+</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Показатели эффективности закупочной деятельности и услуг
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Цена
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Срок
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Качество
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Аналитика в показателях закупочной деятельности МТР
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Аналитика закупочной деятельности МТО
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Аналитика показателей эффективности закупочного процесса
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Введение в управление запасами <span>+</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single6.htm">
                Введение в управление запасами
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single6.htm">
                Категорийное управление запасами
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single6.htm">
                Особенности планирования потребности в МТР
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single6.htm">
                Реализация невостребованного имущества
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Складская логистика <span>+</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single7.htm">
                Складская логистика
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single7.htm">
                Материальный поток
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single7.htm">
                Складские процессы
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single7.htm">
                Технология складских процессов
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single7.htm">
                Документооборот на складе
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single7.htm">
                Тест к курсу «Складская логистика»
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="collaps_head">
          <div class="_icon">
            <img src="img/icons/courses_status.svg" alt="">
            <img src="img/icons/courses_status_passed.svg" alt="">
          </div>
          <div class="_title collaps_btn">
            <a href="">
              Информационные технологии в закупках <span>+</span>
            </a>
          </div>
        </div>

        <div class="collaps_content">
          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single8.htm">
                Информационные технологии в закупках
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single8.htm">
                Big Data & machine learning
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single8.htm">
                Роботизация бизнес процессов
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single8.htm">
                Формирование экосистемы закупочных решений
              </a>
            </div>
          </div>

          <div class="item">
            <div class="_status"></div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single8.htm">
                Тест к курсу ''Информационные технологии в закупках''
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
