<header>
  <div class="_title __center">
    Теория
  </div>
</header>

<main class="page_course block_theory">
  <div class="_title">
    <!-- Название темы -->
  </div>

  <div class="_content">
    <div class="block_themes">
      <div class="_description"></div>
    </div>

    <div class="block_text">
      <div class="_title">
        <h2>Текст</h2>
      </div>

      <div class="_text" id="text"></div>
    </div>

    <div class="block_video">
      <div class="_title">
        <h2>Видео</h2>
      </div>
      <div class="_video" id="video"></div>
    </div>
  </div>
</main>

<footer>
  <script>
    $(function() {
      theory_init()
    })
  </script>
</footer>
