<header>
  <div class="_title __center">
    Курс 1. Введение в закупки (Теория)
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="thems">
      <div class="them">
        <div class="_name">
          1 Промо курса
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 1. Введение в закупки/1  Промо курса (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Промо курса
        </div>
      </div>

      <div class="them">
        <div class="_name">
          2 Роль системы закупок в производственной деятельности предприятия
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 1. Введение в закупки/2  Роль системы закупок в производственной деятельности предприятия (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Роль системы закупок в производственной деятельности предприятия
        </div>
      </div>

      <div class="them">
        <div class="_name">
          3 Основные понятия закупочной деятельности
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 1. Введение в закупки/3 Основные понятия закупочной деятельности (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Основные понятия закупочной деятельности
        </div>
      </div>

      <div class="them">
        <div class="_name">
          4 Ключевые цели в закупках
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 1. Введение в закупки/4 Ключевые цели в закупках (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Ключевые цели в закупках
        </div>
      </div>

      <div class="them">
        <div class="_name">
          5 Основные элементы системы закупок и снабжения
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 1. Введение в закупки/5 Основные элементы системы закупок и снабжения (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Основные элементы системы закупок и снабжения
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <script>
    $(function() {
      theory_init()
    })
  </script>
</footer>
