<main class="page_faq">
  <div class="_title">
    F.A.Q
  </div>
  <div class="_content">
    <div class="faqs">
      <div class="faq collaps_block _active_">
        <div class="collaps_btn _title">
          <a href="">
            ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ <span>+</span>
          </a>
        </div>
        
        <div class="collaps_content _items">
          <div class="_item">
            Очень очень очень очень длинное название вопрос 1?
          </div>
          <div class="_item">
            Очень очень очень очень длинное название вопрос 2?
          </div>
          <div class="_item">
            Очень очень очень очень длинное название вопрос 3?
          </div>
        </div>
      </div>
      <div class="faq collaps_block">
        <div class="collaps_btn _title">
          <a href="">
            КАТЕГОРИЯ ВОПРОСОВ 1 <span>+</span>
          </a>
        </div>
        
        <div class="collaps_content _items">
          <div class="_item">
            Очень очень очень очень длинное название вопрос 1?
          </div>
          <div class="_item">
            Очень очень очень очень длинное название вопрос 2?
          </div>
          <div class="_item">
            Очень очень очень очень длинное название вопрос 3?
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
