<main class="page_privacy">
  <div class="_title">
    О программе и политика конфиденциальности
  </div>
  <div class="_content">
    <div class="collaps_block _active_">
      <div class="collaps_btn _title">
        <a href="">
          О программе <span>+</span>
        </a>
      </div>

      <div class="collaps_content _items">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </div>
    <div class="collaps_block">
      <div class="collaps_btn _title">
        <a href="">
          Политика конфиденциальности <span>+</span>
        </a>
      </div>

      <div class="collaps_content _items">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </div>
  </div>
</main>
