<main class="page_privacy">
  <div class="_title">
    О программе
  </div>
  <div class="_content">
    <h2>
      Академия закупок 5:0
    </h2>
    <ul>
      Курс состоит из следующих разделов:
      <ol>
        <li>
          Введение в закупки

          <ol>
            <li>Промо курса</li>
            <li>Роль системы закупок в производственной деятельности предприятия</li>
            <li>Основные понятия закупочной деятельности</li>
            <li>Ключевые цели в закупках</li>
            <li>Основные элементы системы закупок и снабжения</li>
          </ol>
        </li>

        <li>
          Планирование закупок

          <ol>
            <li>Планирование закупок, классификация и методы</li>
            <li>Сущность планирования и виды планов</li>
            <li>Этапы и процессы планирования закупок</li>
          </ol>
        </li>

        <li>
          Подготовка к проведению закупочных процедур

          <ol>
            <li>Подготовка к проведению закупочных процедур</li>
            <li>Анализ рынка</li>
            <li>Категорийная стратегия</li>
            <li>Техническое задание</li>
            <li>Критерии и методика оценки</li>
            <li>РНМЦ Часть 1</li>
            <li>РНМЦ Часть 2</li>
          </ol>
        </li>

        <li>
          Проведение закупок

          <ol>
            <li>Сущность закупок</li>
            <li>Способы закупок</li>
            <li>Порядок проведения закупки</li>
          </ol>
        </li>

        <li>
          Аналитика и отчётность

          <ol>
            <li>
              Показатели эффективности закупочной деятельности и услуг

              <ol>
                <li>
                  Тест к курсу №1 (Показатели эффективности закупочной деятельности)
                </li>
              </ol>
            </li>

            <li>Цена</li>
            <li>Срок</li>
            <li>Качество</li>
            <li>
              Аналитика в показателях закупочной деятельности МТР

              <ol>
                <li>
                  Тест к курсу №2 (Аналитика в показателях закупочной деятельности МТР)
                </li>
              </ol>
            </li>
            <li>Аналитика закупочной деятельности МТО</li>
            <li>Аналитика показателей эффективности закупочного процесса</li>
          </ol>
        </li>

        <li>
          Введение в управление запасами

          <ol>
            <li>
              Введение в управление запасами

              <ol>
                <li>
                  Тест к курсу ''Введение в управление запасами''
                </li>
              </ol>
            </li>
            <li>Категорийное управление запасами</li>
            <li>Особенности планирования потребности в МТР</li>
            <li>Реализация невостребованного имущества</li>
          </ol>
        </li>

        <li>
          Складская логистика

          <ol>
            <li>Складская логистика</li>
            <li>Материальный поток</li>
            <li>Складские процессы</li>
            <li>Технология складских процессов</li>
            <li>Документооборот на складе</li>
            <li>Тест к курсу «Складская логистика»</li>
          </ol>
        </li>

        <li>
          Информационные технологии в закупках

          <ol>
            <li>Информационные технологии в закупках</li>
            <li>Big Data & machine learning</li>
            <li>Роботизация бизнес процессов</li>
            <li>Формирование экосистемы закупочных решений</li>
            <li>Тест к курсу ''Информационные технологии в закупках'' </li>
          </ol>
        </li>
      </ol>
    </ul>
  </div>
</main>
