<header>
  <a class="_button __icon content_upload" href="profiles/edit.htm" type="button" name="button">
    <img src="img/icons/edit.png" alt="">
  </a>
</header>

<main class="page_profile main_profile">
  <div class="_content">
    <div class="row prev_profile">
      <div class="_profile_img __default" id="profile_img">
        <!-- <img src="img/profile.png" alt=""> -->
      </div>
      <div class="_profile_info" id="profile_info">
        <div class="_name">
          <span data-key="first_name"></span>
          <span data-key="last_name"></span>
        </div>
        <div class="_points" data-init="points"></div>
      </div>
    </div>

    <div class="row block_profile_progress">
      <div class="profile_progress" id="profile_progress">
        </div>
    </div>

  </div>
</main>

<footer>
  <script>
    $(function(){
      profile_init()
      // profile_progress()
    })
  </script>
</footer>
