<header>
    <div class="block_header_buttons">
      <button class="_item main_menu_back" id="main_menu_back" type="button" name="button">
        <
      </button>
    </div>

    <div class="block_header">
      Страница профиля
    </div>
</header>

<main class="page_profile">
  <div class="row">
    <div class="profile_img">
      <img src="img/profile.png" alt="">
    </div>
    <div class="profile_info">
      <div class="_name">ЕФИМОВА ВЕРОНИКА ВЛАДИМИРОВНА</div>
      <div class="_points">777 <span>баллов</span></div>
    </div>
  </div>
  Страница профиля - content
</main>

<footer>
</footer>
