<main class="page_schedule">
  <div class="_title">
    Расписание
  </div>
  <div class="_content">
    <div class="months">
      <div class="month collaps_block _active_">
        <div class="_title collaps_btn">
          <a href="">
            Январь <span>+</span>
          </a>
        </div>
        <div class="collaps_content">
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single.htm">
                Курс «Введение в закупки». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single2.htm">
                Курс «Планирование закупок». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single3.htm">
                Курс «Подготовка к проведению закупочных процедур». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single4.htm">
                Курс «Проведение закупок». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single5.htm">
                Курс «Аналитика и отчётность». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single6.htm">
                Курс «Введение в управление запасами». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single7.htm">
                Курс «Складская логистика». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" href="templates/courses/single8.htm">
                Курс «Информационные технологии в закупках». Срок прохождения до 10 февраля
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
