<header>
  <div class="_title __center">
    Курс 6. Введение в управление запасами (Теория)
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="thems">
      <div class="them">
        <div class="_name">
          1 Введение в управление запасами
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 6. Введение в управление запасами/1 Введение в управление запасами (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Введение в управление запасами
        </div>
      </div>

      <div class="them">
        <div class="_name">
          2 Категорийное управление запасами
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 6. Введение в управление запасами/2 Категорийное управление запасами (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Категорийное управление запасами
        </div>
      </div>

      <div class="them">
        <div class="_name">
          3 Особенности планирования потребности в МТР
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 6. Введение в управление запасами/3 Особенности планирования потребности в МТР (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Особенности планирования потребности в МТР
        </div>
      </div>

      <div class="them">
        <div class="_name">
          4 Реализация невостребованного имущества
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/compress/Курс 6. Введение в управление запасами/4 Реализация невостребованного имущества (360).mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
          </video>
        </div>
        <div class="_video_name">
          Реализация невостребованного имущества
        </div>
      </div>
    </div>

    <script>
      $(function() {
        course_init()
      })
    </script>
  </div>
</main>
