@import "config"
@import "mixin"
@import "reset"

// body
body
  position: relative
  padding-top: 15vh
  font-size: 14px
  line-height: 1
  z-index: 1
// body x

// header
header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 15vh
  z-index: 2
// header x

// main
main
  padding: 1rem
// main x

// footer
footer
// footer x
