<div class="course collaps_block _active_">
  <div class="collaps_head">
    <div class="_icon">
      <img src="img/icons/courses_status.svg" alt="">
      <img src="img/icons/courses_status_passed.svg" alt="">
    </div>
    <div class="_title collaps_btn">
      <a href="">
        <i data-key-"name">Введение в закупки</i> <span>-</span>
      </a>
    </div>
  </div>

  <div class="collaps_content">
    <div class="item">
      <div class="_status"></div>
      <div class="_text">
        <a class="content_upload" href="templates/courses/single.htm">
          Промо курса
        </a>
      </div>
    </div>

    <div class="item">
      <div class="_status"></div>
      <div class="_text">
        <a class="content_upload" href="templates/courses/single.htm">
          Роль системы закупок в производственной деятельности предприятия
        </a>
      </div>
    </div>

    <div class="item">
      <div class="_status"></div>
      <div class="_text">
        <a class="content_upload" href="templates/courses/single.htm">
          Основные понятия закупочной деятельности
        </a>
      </div>
    </div>

    <div class="item">
      <div class="_status"></div>
      <div class="_text">
        <a class="content_upload" href="templates/courses/single.htm">
          Ключевые цели в закупках
        </a>
      </div>
    </div>

    <div class="item">
      <div class="_status"></div>
      <div class="_text">
        <a class="content_upload" href="templates/courses/single.htm">
          Основные элементы системы закупок и снабжения
        </a>
      </div>
    </div>
  </div>
</div>
