<main class="page_online_support block_chat">
  <div class="_title">
    Обратная связь
  </div>
  <div class="_content">
    <div class="block_input">
      Почта для обратной связи <br/>

      <a style="color: white;" href="mailto:admin@mgspb.com">
        admin@mgspb.com
      </a>
    </div>

    <form class="form_support" id="form_support">
      <div class="block_input">
        <label>
          <p class="label">Опишите проблему, <br/> или напишите отзыв.</p>
          <textarea name="text" class="textarea" rows="8"></textarea>
        </label>
      </div>

      <div class="block_buttons">
        <button class="button" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</main>

<footer>
  <script>
    $(function(){
      support_init()
    })
  </script>
</footer>
