<header>
  <div class="_title __center">
    Изменить профиль
  </div>
  <button class="_button profile_info_save" id="profile_info_save">
    Готово
  </button>
</header>

<main class="page_profile_edit">
  <div class="_content">
    <div class="profile_img" id="profile_img">
      <label for="profile_img __default">
      </label>

      <input type="file" name="file_image">

      <div class="_name">

      </div>
    </div>

    <div class="profile_info">
      <div class="_edit_block">
        <label for="input_name">
          Имя
        </label>
        <input id="input_name" type="text" class="input" placeholder="" name="first_name">
      </div>
      <div class="_edit_block">
        <label for="input_last_name">
          Фамилия
        </label>
        <input id="input_last_name" type="text" class="input" placeholder="" name="last_name">
      </div>
      <div class="_edit_block">
        <label for="input_email">
          E-mail
        </label>
        <input disabled="disabled" id="input_email" type="email" class="input" placeholder="" name="email">
      </div>
      <!-- <div class="_edit_block">
        <label for="input_patronymic">
          Отчество
        </label>
        <input id="input_patronymic" type="text" class="input" placeholder="" name="patronymic">
      </div> -->
    </div>
  </div>
</main>

<footer>
  <script>
    $(function(){
      profile_edit_init()
    })
  </script>
</footer>
