<header>
  <div class="_title">Изменить профиль</div>
  <button class="_button" type="button" name="button">Сохранить</button>
</header>

<main class="page_profile">
  <div class="_content">
    <div class="row">
      <div class="profile_img">
        <img src="img/profile.png" alt="">
      </div>
      <div class="profile_info">
        <div class="_name">ЕФИМОВА ВЕРОНИКА ВЛАДИМИРОВНА</div>
        <div class="_points">777 <span>баллов</span></div>
      </div>
    </div>
    Страница профиля - редактирование
  </div>
</main>
