<header>
  <div class="_title __center">
    Участники
  </div>
</header>

<main class="page_members">
  <div class="_title">
    <input class="input __icon __search" type="text" name="" placeholder="Поиск" value="">
  </div>

  <div class="_content">
    <div class="members">
      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Иванов Владислав Анатольевич
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/item.htm" data-page="3"></a>
        </div>
      </div>

      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Иванов Владислав Анатольевич
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/item.htm" data-page="3"></a>
        </div>
      </div>

      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Иванов Владислав Анатольевич
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/item.htm" data-page="3"></a>
        </div>
      </div>

      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Иванов Владислав Анатольевич
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/item.htm" data-page="3"></a>
        </div>
      </div>
    </div>
  </div>
</main>
