<header>
  <a class="_button __icon content_upload" href="templates/chats/single_m4.htm" type="button" name="button">
    <img src="img/icons/write.png" alt="">
  </a>
</header>

<main class="page_member">
  <div class="_content">
    <div class="row prev_member">
      <div class="_member_img __default">
        <!-- <img src="img/icons/user.png" alt=""> -->
      </div>
      <div class="_member_info">
        <div class="_name">Аграном Марта Владимировна</div>
        <div class="_points">950 <span>баллов</span></div>
      </div>
    </div>

    <div class="row">
      <div class="member_progress">
        <div class="step _1 _yes">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              01
            </div>
            <div class="_name">
              Управление командой
            </div>
            <div class="_txt">
              Помогает внедрить в компании командный стиль работы
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_1.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/single.htm"></a>
          </div>
        </div>

        <div class="step _2 _yes">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              02
            </div>
            <div class="_name">
              Системное мышление
            </div>
            <div class="_txt">
              Объединительное мышление при рассмотрении проблем организации
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_2.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/single2.htm"></a>
          </div>
        </div>

        <div class="step _3 _yes" data-progress="100">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              03
            </div>
            <div class="_name">
              Решение проблем
            </div>
            <div class="_txt">
              Решение сложных управленческих задач в индивидуальном и групповом режимах
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_3.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/single3.htm"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script>
    $(function(){
      member_progress()
    })
  </script>
</main>
