<main class="page_password authorization_form">
  <form action="" id="password_recovery_form">
    <input type="hidden" name="form" value="password_form">
    <input type="hidden" name="app" value="app">

    <div class="block_input">
      <label>
        <p class="label">Введите адрес электронной почты</p>
        <input type="text" class="input" name="email" value="" required="required">
      </label>
    </div>

    <div class="form_status"></div>

    <div class="block_buttons">
      <button class="button" type="submit">Выслать новый пароль на почту</button>
    </div>

    <div class="block_sub_text">
      <a class="content_upload" href="authorizations/authorization.htm?pages_history_not=true" type="button">Вернуться на страницу входа</a>
    </div>
  </form>
</main>
