<main class="page_registration registration_forms">
  <form id="registration_form" class="registration_form">
    <h2>
      Регистрация
    </h2>
    <input type="hidden" name="form" value="registration_form">
    <input type="hidden" name="app" value="app">

    <div class="block_input">
      <label>
        <p class="label">E-mail</p>
        <input type="email" class="input" name="email" value="" required="required">
      </label>
    </div>

    <div class="block_input">
      <label>
        <p class="label">Пароль</p>
        <input type="password" class="input" name="password" value="" required="required">
      </label>
    </div>

    <div class="block_input">
      <label>
        <p class="label">Подтверждение пароля</p>
        <input type="password" class="input" name="password_confirm" value="" required="required">
      </label>
    </div>

    <div class="form_status"></div>

    <div class="block_buttons">
      <button class="button" type="submit">Зарегистрироваться</button>
    </div>

    <div class="block_sub_text">
      <!-- <p>
        <a class="content_upload" href="templates/authorizations/password.htm">
          Если вы забыли пароль, <br> нажмите сюда
        </a>
      </p> -->

      <p>
        <a class="content_upload" href="templates/authorizations/authorization.htm">
          Уже есть аккаунт, войти
        </a>
      </p>
    </div>
  </form>
</main>
